.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  width: 100%;
  margin-bottom: 1rem;
}
header .navbar .navbar-brand{
  cursor: pointer;
}
header .navbar .admin-button{
  margin-left: auto;
}

.login-form{
  width: 40%;
  max-width: 380px;
}