.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  width: 100%;
  margin-bottom: 1rem;
}
header .navbar .navbar-brand{
  cursor: pointer;
}
header .navbar .admin-button{
  margin-left: auto;
}

.login-form{
  width: 40%;
  max-width: 380px;
}

.products-list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.mb-2 .card-header{
  font-weight: bold;
}

.card-preview, .card-create{
  width: 18rem;
  margin: 0.2rem;
}

.card-preview .card-body p{
  font-size: 0.8rem;
}

.card-preview .button-group{
  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-between;
}

.card-create{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.8rem;
  border-radius: .25rem;
  padding: 0.6rem;
  background-color: transparent !important;
  border: 3px dashed #343a40;
  color: #343a40 !important;
  cursor: pointer;
}

.card-create p{
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}

.card-large{
  width: 90%;
  max-width: 500px;
}